/* Glovbal CSS */
body {
    font-family: cursive !important;
    background-color: #272b30;
    height: 2000px;
}

/* Header CSS */
header img {
    height: 30vh;
}

/* navBar CSS */
nav {
    background-color: rgb(58, 73, 123) !important;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    z-index: 99;
    top: 0;
    margin-top: -30px;
}

nav img {
    width: 40px;
}

nav .navbar-brand,
nav .navbar-brand:hover {
    color: white;
    font-size: 20px;
    line-height: 24px;
    margin-inline: 5px;
}

.nav-link {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.nav-link:hover {
    color: rgb(0, 153, 204);
    transition: color 0.7s;
}

.navbar-nav .nav-link.active {
    color: rgb(0, 153, 204);
}

/* Main Content CSS */
.card{
    transition: transform 0.7s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card-img{
    opacity: 0.5;
    transition: opacity 0.3s;
}
.card:hover .card-img{
    opacity: 1;
}
.card-head span{
    background-image: linear-gradient(#4A6792 0 100%);
    transition: all 0.2s ease;
}
.card:hover .card-head span{
    background-image: linear-gradient(rgba(0,0,0,0) 0 100%);
}
.card-footer span{
    background-color: #363739;
}

/* Game Details CSS */
.game-details{
    position: fixed;
    inset: 0;
    background-color: #27282B;
    z-index: 100;
}
.game-details p span{
    background-color: rgb(0, 153, 204);
}
.game-details p.description{
    font-size: 14px;
}